*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --red: #D62C08;
    --light-red: #FC4B26;
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f3fffd;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
}

.contenido-header{
    width: 100%;
    height: 50vh;
    background-image: url(../img/fondo.svg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header .texto{
    width: calc(100vw-20px);
    height: 50vh;
    font-size: 80px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}

.menu{
    background-color: var(--red);
    width: 100%;
    position: sticky;
    top:0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    margin-bottom: 20px;
}
.menu a{
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    background-color: var(--red);
    margin: 0 10px;
    transition: .5s ease all;
    color: var(--gray-light);
    text-decoration: none;
}

.menu a:hover{
    transform: translateY(18px);
    background-color: var(--light-red);
}

.connections{
    margin-bottom: 20px;
}

.subtitulo{
    font-size: 40px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    z-index: 2;
    margin-bottom: 15px;
}

.connections .titulo{
    width: 70%;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 24px;
}

.productos{
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
}

.productos.titulo{
    width: 70%;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 24px;
}

.productos .producto{
    position: relative;
    width: 100%;
}

.productos .overlay{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--light-red);
    overflow: hidden;
    transition: .5s, ease;
}

.productos .producto:hover .overlay{
    width: 100%;
    opacity: 65%;
}

.productos .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--white);
    font-size: 20px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.separador{
    width: 100%;
    height: 200px;
    background-image: url('../img/relant.png');
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 24px;
    background-size: 100%;
}

.separador p {
    height: 100%;
    width: 100%;
    color: var(--light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    padding: 5px;
}

.acerca-de{
    margin-bottom: 20px;
}

#carousel{
    margin-bottom: 40px;
}

#carousel img{
    height: 200px;
    object-fit: cover;
}

.contacto{
    margin-bottom: 60px;
}

.redes-sociales{
    padding: 10px;
    background-color: var(--light-red);
}

.redes-sociales img{
    padding: 5px;
    border-radius: 100%;
    width: 40px;
    transition: .3s ease all;
}

.redes-sociales img:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    p{
        font-size: 18px;
    }    

    .contenido-header .texto{
        font-size: 40px;
    }

    .menu a{
        font-size: 20px;
    }

}